.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-prefix,
.input-suffix {
  position: absolute;
  color: #666;
  font-weight: 500;
  z-index: 1;
}

.input-prefix {
  left: 15px;
}

.input-suffix {
  right: 15px;
}

.form-input.with-prefix {
  padding-left: 40px;
}

.form-input.with-suffix {
  padding-right: 50px;
}

.form-group.has-error .form-input {
  border-color: #dc3545;
}

.form-group.has-error .form-input:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.1);
}


